<div class="customer-list container my-4 p-4 bg-white rounded shadow-sm">
  <h2 class="text-center mb-4">Customers</h2>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col" (click)="toggleSort('name')" class="cursor-pointer">
          Name <span [innerHTML]="getSortIcon('name')"></span>
        </th>
        <th scope="col" (click)="toggleSort('surname')" class="cursor-pointer">
          Surname <span [innerHTML]="getSortIcon('surname')"></span>
        </th>
        <th scope="col" (click)="toggleSort('birthDate')" class="cursor-pointer">
          Birth Date <span [innerHTML]="getSortIcon('birthDate')"></span>
        </th>
        <th scope="col" (click)="toggleSort('discountValue')" class="cursor-pointer">
          Discount <span [innerHTML]="getSortIcon('discountValue')"></span>
        </th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of paginatedCustomers | sort:sortField:sortOrder">
        <td>{{ customer.name }}</td>
        <td>{{ customer.surname }}</td>
        <td>{{ customer.birthDate | formatDate }}</td>
        <td>{{ customer.discountValue }}%</td>
        <td>
          <button (click)="editCustomer(customer.id)" class="btn btn-success btn-sm">
            <i class="bi bi-pencil"></i>
          </button>
          <button (click)="deleteCustomer(customer.id)" class="btn btn-danger btn-sm">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-3">
    <div>
      <button (click)="prevPage()" [disabled]="currentPage === 1" class="btn btn-secondary btn-sm">Previous</button>
      <span class="mx-2">Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-secondary btn-sm">Next</button>
    </div>
    <button (click)="addCustomer()" class="btn btn-primary btn-sm">Add Customer</button>
    <button (click)="reloadCustomers()" class="btn btn-secondary btn-sm">Reload Data</button>
  </div>
</div>
