<div class="customer-list container my-4 p-4 bg-white rounded shadow-sm">
  <h2 class="text-center mb-4">Customers</h2>

  <!-- Wrapper для горизонтальної прокрутки -->
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Discount</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of paginatedCustomers">
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.surname }}</td>
        <td>{{ customer.birthDate | formatDate }}</td>
        <td>{{ customer.discountValue }}%</td>
        <td>
          <button (click)="editCustomer(customer.id)" class="btn btn-success btn-sm">
            <i class="bi bi-pencil"></i>
          </button>
          <button (click)="deleteCustomer(customer.id)" class="btn btn-danger btn-sm">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-3">
    <div>
      <button (click)="prevPage()" [disabled]="currentPage === 1" class="btn btn-secondary btn-sm">Previous</button>
      <span class="mx-2">Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-secondary btn-sm">Next</button>
    </div>
    <button (click)="addCustomer()" class="btn btn-primary btn-sm">Add Customer</button>
  </div>
</div>
